{
  "wifi": {
    "security": "SECURITY",
    "ssid": "NETWORK",
    "password": "PASS"
    "timeout": 30
  },
  "keen": {
    "writeKey": "WRITE_KEY",
    "projectId": "PROJECT_ID",
    "collection": "climate"
  },
  "delay": 30000
}